{% extends "base.html" %}

{% block content %}
    <h1>Clients</h1>
    <a href="{% url 'client-add' %}">Add new client</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Last</th>
                <th scope="col">First</th>
                <th scope="col">Email</th>
                <th scope="col">Credits</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            {% for client in client_list %}
                <tr>
                    <th scope="row">{{ client.last_name }}</th>
                    <td>{{ client.first_name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.credits }}</td>
                    <td><a class="btn btn-primary" href="{{ client.get_absolute_url }}">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}